@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SwimmingTrackVM

<div class="">
    Basen: @Model.SwimmingTrack.SwimmingPool.Name
</div>
<div class="">
    Nazwa: @Model.SwimmingTrack.Name
</div>
<div class="">
    Długość: @Model.SwimmingTrack.Length m
</div>
<div class="">
    Pojemność: @Model.SwimmingTrack.Capacity
</div>

<div>
    <h3>Rezerwacje:</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Rezerwacja dla</th>
            <th>Cena</th>
            <th>Od</th>
            <th>Do</th>
            <th>Akcje</th>
        </tr>
        @foreach (var reservation in Model.SwimmingTrack.Reservations)
        {
            <tr>
                <td>
                    <a asp-controller="Reservation" asp-action="Index" asp-route-id="@reservation.Id">@reservation.Client.FirstName @reservation.Client.LastName</a>
                </td>
                <td>
                    @reservation.Price.ToString("C2")
                </td>
                <td>
                    @reservation.StartTime.ToString("yyyy-MM-dd HH:mm")
                </td>
                <td>
                    @reservation.EndTime.ToString("yyyy-MM-dd HH:mm")
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <button class="deleteReservation btn btn-danger" data-reservationid="@reservation.Id">Usuń</button>
                    }
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts {
<script>
    $(".deleteReservation").on("click", function(){
        const reservationId = $(this).data("reservationid");

        $.ajax({
            url: "/reservation/delete",
            method: "delete",
            data: { id: reservationId }
        }).done(() => {
            location.reload();
        })
    })
</script>
}