@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EditSwimmingPoolVm

<form method="post">
    @Html.HiddenFor(model => model.Id)
     <div class="form-group">
        <div>
            <label for="Name" class="form-label">Nazwa</label>
        </div>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
        <div class="text-danger">
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="form-group mb-2">
        <div>
            <label for="Location" class="form-label">Lokacja</label>
        </div>
        @Html.TextBoxFor(model => model.Location, new { @class = "form-control"})
        <div class="text-danger">
            @Html.ValidationMessageFor(model => model.Location)
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Zapisz</button>
</form>