@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ReservationVM

<div>
    <div>
        Klient: @Model.Reservation.Client.FirstName @Model.Reservation.Client.LastName
    </div>
    <div>
        Pływalnia: @Model.Reservation.SwimmingTrack.SwimmingPool.Name
    </div>
    <div>
        Tor: @Model.Reservation.SwimmingTrack.Name
    </div>
    <div>
        Cena: @Model.Reservation.Price.ToString("C2")
    </div>
    <div>
        Od: @Model.Reservation.StartTime.ToString("yyyy-MM-dd HH:mm")
    </div>
    <div>
        Do: @Model.Reservation.EndTime.ToString("yyyy-MM-dd HH:mm")
    </div>
</div>
